{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1 style="text-align:center; margin-block:50px;">Create an Account</h1>

<div style="display: flex; justify-content: center;">
    <form class="signupclass" method="POST" action="." style="display: block; width: 650px; font-size: 18px">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center; margin-top: 50px;">
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>

{% endblock content %}
